#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import BigQuery library

In [2]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]= "/Users/koide/Documents/ironhack-code/ironhack_service_account_big_query.json"
from google.cloud import bigquery

#### 3. Create a connection to BigQuery

In [3]:
client = bigquery.Client()

#### 4. Import data from the users table from the stackoverflow public database for United Kingdom only

In [5]:
sql = """
SELECT * 
FROM `bigquery-public-data.stackoverflow.users`
WHERE location LIKE "%United Kingdom%"
"""

query_job = client.query(query=sql)
df = query_job.to_dataframe()
df

,id,display_name,about_me,age,creation_date,last_access_date,location,reputation,up_votes,down_votes,views,profile_image_url,website_url
0,2434,Daniel James,None,None,2008-08-22 10:14:24.370000+00:00,2019-09-02 18:09:02.960000+00:00,United Kingdom,3659,333,24,469,None,None
1,8313,Sean Reilly,<p>A Canadian software developer living in Lon...,None,2008-09-15 15:42:10.250000+00:00,2019-11-22 22:54:42.587000+00:00,"London, United Kingdom",18685,798,27,1594,None,None
2,21442,nationale,None,None,2008-09-24 00:03:25.460000+00:00,2008-10-13 02:26:37.530000+00:00,United Kingdom,183,2,0,25,None,None
3,26759,Chris Browne,c# developer working in london...more to come ...,None,2008-10-10 09:30:18.877000+00:00,2010-09-02 07:57:25.470000+00:00,"London, United Kingdom",239,2,0,35,None,http://www.shift-in.com
4,34690,PolyglotProgrammer,None,None,2008-11-05 14:18:01.130000+00:00,2009-01-08 16:02:41.453000+00:00,"London, United Kingdom",53,0,0,28,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66827,1983834,PhillBooth,None,None,2013-01-16 13:37:33.267000+00:00,2019-06-23 11:40:26.567000+00:00,"Telford, United Kingdom",41,2,0,12,None,None
66828,7549786,Wandy,<p>A noob in everything lol</p>,None,2017-02-11 10:52:44.887000+00:00,2018-12-19 04:36:50.567000+00:00,"London, United Kingdom",41,0,0,12,https://graph.facebook.com/1372256119482433/pi...,None
66829,598555,leeboyce,None,None,2011-02-01 14:42:04.980000+00:00,2019-11-29 10:36:33.810000+00:00,"Scotland, United Kingdom",41,16,0,12,https://i.stack.imgur.com/XIydf.jpg,http://www.leeboyce.co.uk
66830,4425147,Russell Warwick,None,None,2015-01-06 18:50:06.057000+00:00,2019-10-18 13:18:51.557000+00:00,"York, United Kingdom",41,8,0,13,https://graph.facebook.com/100001123548969/pic...,https://dribbble.com/waruss
66831,741944,user741944,None,None,2011-05-06 14:24:32.657000+00:00,2019-07-26 07:20:11.497000+00:00,"Cambridge, United Kingdom",41,61,0,13,None,None

#### 5. Rename id column to user_id

In [6]:
df.rename(columns={'id':'user_id'}, inplace=True)

#### 6. Import from the stackoverflow_posts table all items which have up to 20 view counts and only select 'id', 'owner_user_id', 'score', 'view_count', 'comment_count', 'favorite_count'

In [ ]:
sql = """
SELECT id, owner_user_id, score, view_count, comment_count, favorite_count
FROM `bigquery-public-data.stackoverflow.stackoverflow_posts`
"""

query_job = client.query(query=sql)
df = query_job.to_dataframe()
df

#### 7. Rename id column to post_id and owner_user_id to user_id

In [ ]:
df.rename(columns={'id':'post_id', 'owner_user_id': 'user_id'}, inplace=True)

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: user_id, reputation,views,up_votes,down_votes
    **posts columns**: post_id, score,user_id,view_count,comment_count

In [ ]:
users_columns = pd.DataFrame()
posts_columns = pd.DataFrame()

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [ ]:
merged_dataframe = pd.DataFrame.merge(users_columns, posts_columns)

#### 9. How many missing values do you have in your merged dataframe?

#### Bonus: Identify extreme values in your merged dataframe, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder. Hint: post_id cannot have outliers!